GRX VLAN Script Generator


TL script generator Name:

GRX_VLAN_Script Generator.exe

--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

Use vlan.csv file pulled from CMS/iMS

In CMS/iMS:
1. Highlight VB in Network Tree.
2. Click on VLANS in the Work area.
3. Change number of records to 5000 to list all VLANS.
4. Right click on the header, and print report and save file as vlan.csv

--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

Output:

N101-1-VB7 (UTICA_258_2),701,Test ONT,VLAN Per Service,NONE,NONE,1,None,N

[Bridge], [VLAN], [DESCRIPTION], [APPMODE}, [L2RLYMODE], [OPTION82], [NUMPRIO], [IGMPMODE], [STBRLYARP]
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

Create 2 files:

1_DELETE_VLAN.txt
2_CREATE_VLAN.txt

--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

File 1:

1_DELETE_VLAN.txt


TL1 command:

DLT-VLAN::N101-1-VB7-VLAN701;


Pattern Match

DLT-VLAN::[Bridge]-VLAN[VLAN];

Notes:
For [Bridge], Do not include shelf name (UTICA_258_2)

--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

File 2:

2_CREATE_VLAN.txt

TL1 command:

ENT-VLAN::N101-1-VB7-VLAN701::::DESC="Test ONT",APPMODE=TLS,L2RLYMODE=NONE,OPTION82=NONE,NUMPRIO=1,IGMPMODE=NONE,STBRLYARP=N;



Pattern Match

ENT-VLAN::[Bridge]-VLAN[VLAN]::::DESC=[DESCRIPTION],APPMODE=TLS,L2RLYMODE=[L2RLYMODE],OPTION82=[OPTION82],NUMPRIO=[NUMPRIO],IGMPMODE=[IGMPMODE],STBRLYARP=[STBRLYARP];

Notes:
For [Bridge], Do not include shelf name (UTICA_258_2)
For DESC, if there is no DESC, then don't include this option.
For APPMODE, use TLS for all VLANS, we are changing all VLANs to TLS.